
$bt_size: a_size(36, 64, 200, 2560);
$bt_fill: hue-rotate(0deg) brightness(50%) contrast(60%) saturate(0%);

/** ===============						================ */
.header_cont {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: a_size(16, 32, 320, 2560);
	color: hsla(0, 0%, 0%, 1.00);
}
.head_bt {
	width: 100%;
	height: 80%;
	justify-self: center;
	align-self: center;
	width: $bt_size;
/*	height: var(--bt_size);	*/
}
.head_bt:hover {
	filter: $bt_fill;
}
.bt_back {
	cursor: pointer;
	background: center center / contain no-repeat url("./images/bt_back.svg");
}
.bt_sett {
	cursor: pointer;
	background: center center / contain no-repeat url("./images/bt_sett.svg");
	animation: sett_ani_rev 1.0s ease;
	-webkit-animation: sett_ani_rev 1.0s ease;
}
.bt_sett:hover {
	animation: sett_ani 1.0s ease;
	-webkit-animation: sett_ani 1.0s ease;
}
.logo_img {
	width: 50%;
	height: 100%;
	cursor: pointer;
	background: center center / contain no-repeat url("./images/zoo_quiz.svg");
/*	width: a_size(100, 360, 200, 2560);	*/
}
/** ===============		====	====	====	====	================ */
.head_cat {
	flex-grow: 1;
	text-align: center;
	font-size: a_size(18, 48, 200, 2560);
}
.head_quest {
	flex-grow: 10;
	margin-top: 2px;
	text-align: center;
	font-size: a_size(12, 36, 220, 2560);
}
.bt_close {
	flex-grow: 1;
	cursor: pointer;
	background: center center / contain no-repeat url("./images/close.svg");
}
/** ===============		====	====	====	====	================ */