<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
<!-- ============	====		====	============ -->
<div class="footer_cont">
	<a class="footer_link" href="https://rs.school/js/">
		<img class="rss_img" src="./src/images/rs_school_js.svg" >
	</a>
	<a class="footer_link" href="https://github.com/KostyaKorshunov">
		<img class="link_img" src="./src/images/github.png" > &nbsp; 2021 © KostyaKorshunov</a>
</div>
<!-- ============	====		====	============ -->
</body>
</html>