<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
</head>
<body>
<div class="welcome_cont">
	<div class="wel_logo">
		
	</div>
	<div class="welcome_category welcome_cat1" >
		<div class="wel_cat wel_cat_1" id="wel_cat_1">
			<div>Выбирай</div>
		</div>
	</div>
	<div class="welcome_category welcome_cat2" >
		<div class="wel_cat wel_cat_2" id="wel_cat_2">
			<div>Составляй</div>
		</div>
	</div>
</div>
</body>
</html>